.border-box {
    text-align: center;
    width: 700px;
    height: 350px;
    border: 15px hidden rgb(162, 206, 219);
    padding: 100px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    display: flexbox;
}

.container {
    width: 450px;
    height: 200px;
    border: 5px hidden white;
    border-radius: 10px;
    padding: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#text-bottom {
    position: absolute;
    bottom: 300px;
    text-align: center;
    margin-left: 160px;
}
.text-align-center {
    margin-top: -100px;
}

#text-align-center {
    margin-left: 165px;
    width: 300px;
    height: 50px;
    border: 2px dashed grey;
}

#text-align-left {
    margin-top: -70px;
    margin-left: -300px;
}

